* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google font add style */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.text-center {
    text-align: center;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}


/* header style */
.header {
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1920px;
    margin: 0 auto;
}

.header-content {
    max-width: 1440px;
    margin: 0 auto;
}


/* navbar style  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
}

.g3-architects {
    font-size: 2.85rem;
    font-weight: 600;
    cursor: pointer;

}

.navbar-items {
    display: flex;

}

.navbar-item {
    list-style: none;
    margin-left: 30px;
}

.item-link {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}

/* banner style */
.banner {
    margin-top: 10%;

}

.banner-title {
    font-size: 4rem;
    font-weight: 600;


}

.banner-description {
    margin-top: 2%;
    margin-bottom: 3%;
}

.btn-primary {
    font-size: 20px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-weight: 500;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

.banner-img {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 1.5%;
}

/* teams style */
.teams {
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.team-image {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.section-title {
    font-size: 2.8125rem;
    font-weight: 600;

}

.our-feature {
    max-width: 537px;
    max-height: 304px;
    margin-left: 7%;

}

.quick-list {
    font-weight: 500;

}

.features-text {
    color: #FF900E;
}

/* feature card and image style */
.features>h2 {
    border-left: 5px solid #FF900E;
    padding-left: 1%;
    margin-top: 8%;
    margin-bottom: 5%;
}

.features {
    max-width: 586px;


}

.card-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.feature-card {
    margin-top: 5%;

    background-color: #FFFFFF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 2%;
}

.features-container {
    display: flex;
    gap: 2%;
}

.feature-image-container {
    margin-left: 7%;
}

.feature-image {
    width: 100%;
}

.experience-btn {
    max-width: 342px;
    padding: 45px 42px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: -150px;
    margin-left: -92px;

}

.year {
    font-size: 4rem;
    font-weight: 600;
}

.experience {
    font-size: 1.55rem;
    font-weight: 500;
}

/* small device media query */

@media screen and (max-width:576px) {
    .header-content {
        padding: 1%;
    }

    .navbar,
    .navbar-items,
    .teams,
    .features-container {
        flex-direction: column;
    }

    .features-container {
        padding: 3%;
    }

    .team-image {
        grid-template-columns: 1fr;
    }

    .experience-btn {
        margin: 0;
        padding: 15px 20px;
    }

    .feature-image-container {
        padding: 2%;
    }
    
}



/* medium device media query */
@media screen and (min-width:576px) and (max-width:922px) {
    .header-content {
        padding: 3%;
    }

    .teams,
    .features-container {
        flex-direction: column;
    }

    .features-container {
        padding: 3%;
    }

    .experience-btn {
        margin: 1%;
    }

    .feature-image-container {
        margin-left: 1%;
    }
}